@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome To Megander!</h1>
    <p class="lead">Let's get started planning your vacation!.</p>
    
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
            You can browse through vacations already that have been created by other people just like you!  Or you can register with Megander and create your own vacation!
        </p>
    </div>
    <div class="col-md-6">
        <h2>Benefits of Using Megander</h2>
        <p>We aren't tracking your searches and not selling your information to third parties.  This tool is for you to create a dream vacation or to help you better plan different trips.</p>
    </div>
   
</div>